@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&family=Yeseva+One&display=swap');

/* Общие настроечки */
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}


/* Шапка (START) */
#navbar{
    background: none;
}

.brand{
    font-family: 'Yeseva One', sans-serif;
}

.head-button{
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-top: 10px;
}

/* Шапка (END) */


@keyframes all-elements {
    0%{
        opacity: 0;
        margin-left: -10px;
    }
    100%{
        opacity: 100%;
        margin-left: 0;
    }
}

@keyframes big-text-xxl {
    0%{
        opacity: 0;
        margin-left: 19px;
    }
    100%{
        opacity: 100%;
        margin-left: 29px;
    }
}

@keyframes big-text-sm {
    0%{
        opacity: 0;
        margin-left: -25px;
    }
    100%{
        opacity: 100%;
        margin-left: -15px;
    }
}

@keyframes white-text-1-xxl {
    0%{
        opacity: 0;
        margin-left: 19%;
    }
    100%{
        opacity: 100%;
        margin-left: 20%;
    }
}

@keyframes white-text-1-xl {
    0%{
        opacity: 0;
        margin-left: 290px;
    }
    100%{
        opacity: 100%;
        margin-left: 300px;
    }
}

@keyframes white-text-2-xxl {
    0%{
        opacity: 0;
        margin-left: 29%;
    }
    100%{
        opacity: 100%;
        margin-left: 30%;
    }
}

@keyframes white-text-2-xl {
    0%{
        opacity: 0;
        margin-left: 398px;
    }
    100%{
        opacity: 100%;
        margin-left: 408px;
    }
}

@keyframes white-text-sm {
    0%{
        opacity: 0;
        margin-left: 4px;
    }
    100%{
        opacity: 100%;
        margin-left: 14px;
    }
}

@keyframes btn-xxl {
    0%{
        opacity: 0;
        margin-left: 290px;
    }
    100%{
        opacity: 100%;
        margin-left: 300px;
    }
}

@keyframes photo-xl {
    0%{
        opacity: 0;
        margin-left: 40px;
    }
    100%{
        opacity: 100%;
        margin-left: 50px;
    }
}

@keyframes name-text-sm {
    0%{
        opacity: 0;
        margin-left: -56px;
    }
    100%{
        opacity: 100%;
        margin-left: -46px;
    }
}


/* Страница about (START) */
#about-main-photo{
    position: absolute;
    z-index: -200;
}

.about-page-big-text{
    font-family: 'Yeseva One', sans-serif;
    color: black;
}

.about-page-name-text{
    font-family: 'Yeseva One', sans-serif;
    color: black;
}

.white-text-about-1{
    font-family: 'Montserrat', sans-serif;
    color: #F1F1F1;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
}

.white-text-about-2{
    font-family: 'Montserrat', sans-serif;
    color: #F1F1F1;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
}

.white-button{
    background-color: white;
    border: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #0358E4;
    font-weight: 600;
    text-transform: uppercase;
}

/* Факин подчеркивание палка вправо (START)*/
.rhombus-right {
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: black;
    position: relative;
    right: -20px;
}
.rhombus-right:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -8px;
    top: 7px;
    border: 8px solid transparent;
    border-top-color: black;
}
.rhombus-right:before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    border: 3px solid transparent;
    border-top-color: black;
    color: black;
    border-radius: 5px;
    width: 200px;
}
/* Факин подчеркивание палка вправо (END)*/

.date{
    font-family: 'Yeseva One', sans-serif;
    color: #000;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Табличные надписи (START) */
.text-about-max{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 33px */
    text-transform: uppercase;
}
.text-about-min{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
}

/* Факин ромб (START)*/
.rhombus-table {
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: black;
    position: relative;
    top: -18px;
    left: 177px;
}
.rhombus-table:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -8px;
    top: 7px;
    border: 8px solid transparent;
    border-top-color: black;
}
/* Факин ромбы с длинной линией (START)*/
#lower-line{
    margin-right: -200px;
}
.rhombus-long-line{
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: black;
    position: relative;
    top: 1px;
}
.rhombus-long-line:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -8px;
    top: 7px;
    border: 8px solid transparent;
    border-top-color: black;
}
.rhombus-long-line:before{
    content: "";
    position: absolute;
    left: -200px;
    top: 6px;
    border: 4px solid transparent;
    border-top-color: black;
    color: black;
    border-radius: 4px;
    width: 200px;
}
#rhombus-down-left{
    left: 160px;
}
#rhombus-down-center{
    right: -190px;
}
#black-line-center{
    right: -50px;
}
#rhombus-down-right{
    right: -100px;
}
.black-line{
    position: relative;
    content: "";
    border: 4px solid transparent;
    border-top-color: black;
    color: black;
    border-radius: 4px;
    width: 300px;
    margin-top: 15px;
}
/* Факин ромбы с длинной линией (END)*/
/* Факин ромб (END)*/
/* Табличные надписи (END) */

.blue-button{
    background-color: #0358E4;;
    border: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
}
/* Страница about (END) */


/* Адаптация */
@media (min-width: 1400px) {
    body{
        overflow: hidden;
    }
    .brand{
        font-size: 48px;
        margin-left: 70px;
    }
    .head-button{
        font-size: 22px;
        letter-spacing: 2px;
    }
    .dropdown-menu{
        background-color: #F1F1F1;
    }
    #hamburger-menu{
        margin-right: 70px;
    }

    /* Фоновый треугольник (START) */
    #triangle-up{
        width: 1482px;
        position: absolute;
        z-index: -100;
        top: 0;
        left: 10%;

        animation-name: all-elements;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    #triangle-down{
        width: 1600px;
        position: absolute;
        z-index: -100;
        top: 100%;
        left: 154px;
    }
    /* Фоновый треугольник (END) */
    .sm-screen{
        display: none;
    }

    #about-main-photo{
        width: 490px;

        animation-name: all-elements;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    .about-page-big-text{
        font-size: 130px;
        margin-left: 29px;
        margin-bottom: 0;

        animation-name: big-text-xxl;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    .about-page-name-text{
        font-size: 26px;
        margin-left: 29px;
        margin-top: -50px;
        margin-bottom: 0;

        animation-name: big-text-xxl;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 0.1s;
        opacity: 0;
    }
    .rhombus-right{
        animation-name: all-elements;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 0.15s;
        opacity: 0;
    }
    .white-text-about-1{
        max-width: 50%;
        margin-top: 30px;
        margin-bottom: 0;
        margin-left: 20%;
        font-size: 20px;
        letter-spacing: 4px;

        animation-name: white-text-1-xxl;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 0.2s;
        opacity: 0;
    }
    .white-text-about-2{
        margin-top: 0;
        max-width: 60%;
        margin-left: 30%;
        font-size: 20px;
        letter-spacing: 4px;

        animation-name: white-text-2-xxl;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 0.2s;
        opacity: 0;
    }
    .white-button{
        width: auto;
        padding: 12px 50px;
        font-size: 18px;
        letter-spacing: 3px;
        margin-top: 30px;
        margin-left: 300px;

        animation-name: btn-xxl;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 0.2s;
        opacity: 0;
    }
    /* Нижний информационный блок (START)*/
    .down-block{
        position: relative;
        margin-top: 170px;
    }
    .down-block-sm{
        display: none;
    }
    /* Нижний информационный блок (END)*/
    #gimnazia-photo{
        width: 400px;
        margin-right: -20px;
    }
    #gkl-photo{
        width: 400px;
    }
    #kemgu-photo{
        width: 340px;
        margin-left: -23px;
    }
    #shahterskaya-photo{
        width: 360px;
        margin-top: -10px;

    }
    #asia-photo{
        width: 400px;
        margin-top: -10px;
    }
    .date{
        font-size: 18px;
        margin-top: 12px;
    }
    #date-left{
        margin-right: -40px;
    }
    #date-right{
        margin-left: -60px;
    }

    /* Табличные надписи (START) */
    #table-up{
        margin-top: -5px;
    }
    #table-up-left{
        border-top: 4px solid black;
        border-right: 4px solid black;
        margin-left: -60px;
    }
    #table-up-center{
        border-top: 4px solid black;
        border-right: 4px solid black;
    }
    #table-up-right{
        border-top: 4px solid black;
    }
    .text-about-max{
        font-size: 24px;
        letter-spacing: 3px;
    }
    .text-about-min{
        font-size: 18px;
        letter-spacing: 2px;
        margin-top: -15px;
    }
    #rhombus-up-left{
        margin-left: -5px;
    }
    #rhombus-up-right{
        margin-left: -20px;
    }
    #between-left-text{
        margin-right: -250px;
    }
    #between-right-text{
        margin-left: -250px;
    }
    #translator{
        margin-top: -15px;
        margin-bottom: 50px;
    }
    .blue-button{
        padding: 12px 40px;
        font-size: 18px;
        letter-spacing: 3px;
    }
    #go-back-button{
        position: relative;
        right: -50px;
        top: -10px;
    }
    .sm-screen{
        display: none;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    body{
        overflow: hidden;
    }
    .brand{
        font-size: 44px;
    }
    .dropdown-menu{
        background-color: #F1F1F1;
    }
    .head-button{
        font-size: 19px;
        letter-spacing: 1px;
    }

    /* Фоновый треугольник (START) */
    #triangle-up{
        width: 1400px;
        position: absolute;
        z-index: -100;
        top: 0;
        left: 120px;

        animation-name: all-elements;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    #triangle-down{
        width: 1600px;
        position: absolute;
        z-index: -100;
        top: 100%;
        left: 100px;
    }
    /* Фоновый треугольник (END) */
    .big-screen{
        display: compact;
    }
    .sm-screen{
        display: none;
    }

    #about-main-photo{
        width: 450px;
        margin-left: 50px;

        animation-name: photo-xl;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    .about-page-big-text{
        font-size: 130px;
        margin-left: 29px;
        margin-top: -20px;
        margin-bottom: 0;

        animation-name: big-text-xxl;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    .about-page-name-text{
        font-size: 26px;
        margin-left: 29px;
        margin-top: -50px;
        margin-bottom: 0;

        animation-name: big-text-xxl;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 0.1s;
        opacity: 0;
    }
    .rhombus-right{
        animation-name: all-elements;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 0.15s;
        opacity: 0;
    }
    .white-text-about-1{
        max-width: 50%;
        margin-top: 30px;
        margin-bottom: 0;
        margin-left: 300px;
        font-size: 18px;
        letter-spacing: 4px;

        animation-name: white-text-1-xl;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 0.2s;
        opacity: 0;
    }
    .white-text-about-2{
        margin-top: 0;
        max-width: 60%;
        margin-left: 408px;
        font-size: 18px;
        letter-spacing: 4px;

        animation-name: white-text-2-xl;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 0.2s;
        opacity: 0;
    }
    .white-button{
        width: auto;
        padding: 12px 50px;
        font-size: 16px;
        letter-spacing: 3px;
        margin-top: 20px;
        margin-left: 300px;

        animation-name: btn-xxl;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 0.2s;
        opacity: 0;
    }
    /* Нижний информационный блок (START)*/
    .down-block{
        position: relative;
        margin-top: 170px;
        margin-left: 35px;
    }
    .down-block-sm{
        display: none;
    }
    /* Нижний информационный блок (END)*/
    #gimnazia-photo{
        width: 350px;
        margin-right: 45px;
    }
    #gkl-photo{
        width: 350px;
    }
    #kemgu-photo{
        width: 300px;
        margin-left: 45px;
    }
    #shahterskaya-photo{
        margin-top: -5px;
        width: 310px;
        margin-right: 25px;

    }
    #asia-photo{
        margin-top: -5px;
        width: 350px;
        margin-left: 20px;

    }
    .date{
        font-size: 17px;
        margin-top: 10px;
    }
    #date-left{
        margin-right: 35px;
    }
    #date-right{
        margin-left: 16px;
    }

    /* Табличные надписи (START) */
    #table-up{
        margin-top: -5px;
    }
    #table-up-left{
        border-top: 4px solid black;
        border-right: 4px solid black;
        margin-left: -60px;
    }
    #table-up-center{
        border-top: 4px solid black;
        border-right: 4px solid black;
    }
    #table-up-right{
        border-top: 4px solid black;
    }
    .text-about-max{
        font-size: 22px;
        letter-spacing: 3px;
    }
    .text-about-min{
        font-size: 17px;
        letter-spacing: 2px;
        margin-top: -15px;
    }
    #rhombus-up-left{
        margin-left: -5px;
    }
    #rhombus-up-right{
        margin-left: -20px;
    }
    #between-left-text{
        margin-right: -124px;
    }
    #between-right-text{
        margin-left: -130px;
    }
    #translator{
        margin-top: -15px;
        margin-bottom: 100px;
    }
    .blue-button{
        padding: 12px 30px;
        font-size: 16px;
        letter-spacing: 3px;
    }
    #go-back-button{
        position: relative;
        right: -20px;
        top: -10px;
    }
    .sm-screen{
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    body{
        overflow: hidden;
    }
    .brand{
        font-size: 42px;
        margin-left: 0;
    }
    .head-button{
        font-size: 18px;
        letter-spacing: 0;
    }
    .dropdown-menu{
        background-color: #F1F1F1;
    }
    #hamburger-menu{
        margin-right: 0;
    }

    /* Фоновый треугольник (START) */
    #triangle-up{
        width: 1200px;
        position: absolute;
        z-index: -100;
        top: 0;
        left: 80px;
    }
    #triangle-down{
        width: 1200px;
        position: absolute;
        z-index: -100;
        top: 100%;
        left: 45px;
    }
    /* Фоновый треугольник (END) */
    .big-screen{
        display: compact;
    }
    .sm-screen{
        display: none;
    }


    #about-main-photo{
        width: 390px;
        margin-left: 50px;
    }
    .about-page-big-text{
        font-size: 100px;
        margin-left: 30px;
        margin-top: -20px;
        margin-bottom: 0;
    }
    .about-page-name-text{
        font-size: 24px;
        margin-left: 26px;
        margin-top: -30px;
        margin-bottom: 0;
    }
    .white-text-about-1{
        max-width: 50%;
        margin-top: 30px;
        margin-bottom: 0;
        margin-left: 280px;
        font-size: 16px;
        letter-spacing: 3px;
    }
    .white-text-about-2{
        margin-top: 0;
        max-width: 60%;
        margin-left: 372px;
        font-size: 16px;
        letter-spacing: 3px;
    }
    .white-button{
        width: auto;
        padding: 10px 40px;
        font-size: 15px;
        letter-spacing: 2px;
        margin-top: 10px;
        margin-left: 300px;
    }
    /* Нижний информационный блок (START)*/
    .down-block{
        position: relative;
        margin-top: 200px;
        margin-left: 35px;
    }
    .down-block-sm{
        display: none;
    }
    /* Нижний информационный блок (END)*/
    #gimnazia-photo{
        width: 320px;
        margin-right: 15px;
    }
    #gkl-photo{
        width: 320px;
    }
    #kemgu-photo{
        width: 262px;
        margin-left: 15px;
    }
    #shahterskaya-photo{
        margin-top: -5px;
        width: 310px;
        margin-right: 42px;

    }
    #asia-photo{
        margin-top: -5px;
        width: 350px;
        margin-left: -31px;
    }
    .date{
        font-size: 16px;
        margin-top: 10px;
    }
    #date-left{
        margin-right: 18px;
    }
    #date-right{
        margin-left: -7px;
    }

    /* Табличные надписи (START) */
    #table-up{
        margin-top: -7px;
    }
    #table-up-left{
        width: 310px !important;
        height: 95px !important;
        border-top: 3px solid black;
        border-right: 3px solid black;
        margin-left: -34px;
    }
    #table-up-center{
        width: 310px !important;
        height: 95px !important;
        border-top: 3px solid black;
        border-right: 3px solid black;
    }
    #table-up-right{
        width: 274px !important;
        height: 95px !important;
        border-top: 3px solid black;
    }
    .text-about-max{
        font-size: 18px;
        letter-spacing: 2px;
        margin-left: -50px;
        margin-right: -50px;
    }
    .text-about-min{
        font-size: 16px;
        letter-spacing: 2px;
        margin-top: -15px;
    }
    #rhombus-up-left{
        margin-left: -10px;
    }
    #rhombus-up-right{
        margin-left: -13px;
    }
    .rhombus-table{
        margin-top: 1px;
        left: 134px;
    }
    #rhombus-down-left{
        left: 54px;
    }
    #rhombus-down-center{
        right: -42px;
    }
    #black-line-center{
        right: -20px;
    }
    #rhombus-down-right{
        right: 50px;
    }
    #between-left-text{
        margin-right: -136px;
    }
    #between-right-text{
        margin-left: -130px;
    }
    #translator{
        margin-top: -32px;
        margin-bottom: 150px;
        margin-left: -35px;
    }
    .blue-button{
        padding: 11px 30px;
        font-size: 15px;
        letter-spacing: 2px;
    }
    #go-back-button{
        position: relative;
        right: -290px;
        top: -30px;
    }
    .sm-screen{
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    body{
        overflow-x: hidden;
    }
    .brand{
        font-size: 48px;
        margin-left: 0;
    }
    .head-button{
        font-size: 22px;
        letter-spacing: 2px;
    }
    .dropdown-menu{
        border: none;
        background: none;
    }
    #hamburger-menu{
        margin-right: 0;
    }

    /* Фоновый треугольник (START) */
    #triangle-up{
        display: none;
    }
    #triangle-down{
        display: none;
    }
    body {
        background-image: url('../pics/about/Polygon-1-sm.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* Фоновый треугольник (END) */

    .big-screen{
        display: none;
    }
    .sm-screen{
        display: compact;
    }
    #about-main-photo{
        display: none;
    }
    #about-main-photo-sm{
        width: 400px;
    }
    .row > *{
        max-width: 300%;
    }
    .about-page-big-text{
        font-size: 70px;
        margin-left: 0;
        margin-top: -20px;
        margin-bottom: 0;
        text-align: center;
    }
    .about-page-name-text{
        font-size: 22px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    .rhombus-right{
        right: 18px;
        top: -55px;
    }
    .rhombus-right:before{
        width: 238px;
    }
    .white-text-about-1{
        max-width: 70%;
        margin-top: 30px;
        margin-bottom: 0;
        margin-left: 14px;
        font-size: 16px;
        letter-spacing: 3px;
    }
    .white-text-about-2{
        margin-top: 0;
        max-width: 70%;
        margin-left: 14px;
        font-size: 16px;
        letter-spacing: 3px;
    }
    .white-button{
        display: none;
    }
    /* Нижний информационный блок (START)*/
    .down-block{
        display: none;
    }
    .down-block-sm{
        display: compact;
    }
    /* Нижний информационный блок (END)*/
    #gimnazia-photo{
        width: 370px;
        margin-left: 8px;
        margin-top: 25px;
    }
    #gkl-photo{
        width: 370px;
        margin-top: 25px;
    }
    #kemgu-photo{
        width: 370px;
        margin-top: 25px;
    }
    #shahterskaya-photo{
        margin-top: 25px;
        width: 370px;
        margin-bottom: 18px;
    }
    #asia-photo{
        margin-top: 15px;
        width: 370px;
        margin-bottom: 50px;
    }
    .date{
        font-size: 16px;
        margin-top: 10px;
        margin-right: -4px;
        margin-bottom: 3px;
    }
    #date-left{
        margin-right: 2px;
    }
    #date-right{
        margin-right: -4px;
    }

    /* Табличные надписи (START) */

    .text-about-max{
        font-size: 18px;
        letter-spacing: 2px;
        margin-top: 10px;
    }
    .text-about-min{
        font-size: 16px;
        letter-spacing: 2px;
        margin-top: -15px;
        margin-bottom: 5px;
    }

    #between-left-text{
        margin-top: 8px;
    }
    #between-right-text{
        margin-top: 8px;
    }
    #translator{
        margin-top: 5px;
    }
    .blue-button{
        padding: 11px 30px;
        font-size: 15px;
        letter-spacing: 2px;
    }
    #go-back-button{
        position: relative;
        right: -290px;
        top: -30px;
    }
}

@media (max-width: 576px) {
    body{
        overflow: visible;
    }
    .head-button{
        text-align: center;
        font-size: 22px;
        letter-spacing: 2px;
    }
    .dropdown-menu{
        border: none;
        background: none;
    }
    #hamburger-menu{
        margin-right: 0;
    }

    /* Фоновый треугольник (START) */
    #triangle-up{
        display: none;
    }
    #triangle-down{
        display: none;
    }
    body {
        background-image: url('../pics/about/Polygon-1-sm.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* Фоновый треугольник (END) */

    .big-screen{
        display: none;
    }
    .sm-screen{
        display: compact;
    }
    #about-main-photo{
        display: none;
    }
    #about-main-photo-sm{
        width: 290px;

        animation-name: all-elements;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 0.2s;
        opacity: 0;
    }
    .row > *{
        max-width: 90%;
    }
    .row > img{
        max-width: 200%;
    }
    .about-page-big-text{
        font-size: 52px;
        margin-left: -15px;
        margin-top: 20px;
        margin-bottom: 0;
        text-align: center;

        animation-name: big-text-sm;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    .about-page-name-text{
        position: relative;
        font-size: 22px;
        text-align: center;
        margin: 0 -30px 0 -46px;
        left: 10px;

        animation-name: name-text-sm;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 0.2s;
        opacity: 0;
    }
    .rhombus-right{
        right: 37px;
        top: -55px;

        animation-name: all-elements;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 0.1s;
        opacity: 0;
    }
    .rhombus-right:before{
        width: 200px;
    }
    .white-text-about-1{
        max-width: 80%;
        margin-top: 30px;
        margin-bottom: 0;
        margin-left: 14px;
        font-size: 16px;
        letter-spacing: 3px;

        animation-name: white-text-sm;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 0.3s;
        opacity: 0;
    }
    .white-text-about-2{
        margin-top: 0;
        max-width: 80%;
        margin-left: 14px;
        font-size: 16px;
        letter-spacing: 3px;

        animation-name: white-text-sm;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 0.3s;
        opacity: 0;
    }
    .white-button{
        display: none;
    }
    /* Нижний информационный блок (START)*/
    .down-block{
        display: none;
    }
    .down-block-sm{
        display: compact;
    }
    /* Нижний информационный блок (END)*/
    #gimnazia-photo{
        width: 300px;
        margin-top: 25px;
    }
    #gkl-photo{
        width: 300px;
        margin-top: 25px;
    }
    #kemgu-photo{
        width: 300px;
        margin-top: 25px;
    }
    #shahterskaya-photo{
        margin-top: 25px;
        width: 300px;
        margin-bottom: 18px;
    }
    #asia-photo{
        margin-top: 15px;
        width: 300px;
        margin-bottom: 50px;
    }
    .date{
        font-size: 16px;
        margin-top: 10px;
        margin-right: -4px;
        margin-bottom: 3px;
    }
    #date-left{
        margin-right: 2px;
    }
    #date-right{
        margin-right: -4px;
    }

    /* Табличные надписи (START) */

    .text-about-max{
        font-size: 18px;
        letter-spacing: 2px;
        margin-top: 10px;
    }
    .text-about-min{
        font-size: 16px;
        letter-spacing: 2px;
        margin-top: -15px;
        margin-bottom: 5px;
    }

    #between-left-text{
        margin-top: 8px;
    }
    #between-right-text{
        margin-top: 8px;
    }
    #translator{
        margin-top: 5px;
    }
    .blue-button{
        padding: 11px 30px;
        font-size: 15px;
        letter-spacing: 2px;
    }
    #go-back-button{
        position: relative;
        right: -290px;
        top: -30px;
    }
}



/* ЧИСТО ДЛЯ ШАПКИ */
@media (min-width: 1300px) and (max-width: 1400px) {
    .brand{
        margin-left: 60px;
    }
    #hamburger-menu{
        margin-right: 40px;
    }
}

@media (min-width: 1250px) and (max-width: 1300px) {
    .brand{
        margin-left: 40px !important;
    }
    #hamburger-menu{
        margin-right: 30px !important;
    }
}

@media (min-width: 992px) and (max-width: 1020px) {
    .head-button{
        font-size: 17px;
        letter-spacing: 0;
    }
}

@media (min-width: 490px) and (max-width: 576px) {
    .brand{
        font-size: 36px;
        margin-left: 110px;
    }
}

@media (min-width: 400px) and (max-width: 490px) {
    .brand{
        font-size: 36px;
        margin-left: 70px;
    }
}

@media (max-width: 400px) {
    .brand{
        font-size: 30px;
        margin-left: 72px;
    }
}

@media (max-width: 376px) {
    .brand{
        font-size: 30px;
        margin-left: 58px;
    }
}

@media (max-width: 350px) {
    .brand{
        font-size: 30px;
        margin-left: 40px;
    }
}