@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&family=Yeseva+One&display=swap');

/* Общие настроечки */
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body {
    background-image: url('../pics/course-extra-lessons/background-grey.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Шапка (START) */
#navbar{
    background: none;
}

.brand{
    font-family: 'Yeseva One', sans-serif;
    color: white;
}

.head-button{
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 10px;
}

.head-button-black{
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}
/* Шапка (END) */

#background-photo{
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
}

.white-button{
    width: auto;
    height: fit-content;
    background-color: white;
    border: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #0358E4;
    font-weight: 600;
    text-transform: uppercase;
}

.blue-box{
    width: fit-content;
    background-color: #0358E4;
}

.big-main-text{
    font-family: 'Yeseva One', sans-serif;
    color: #F1F1F1;
}
.white-text{
    font-family: 'Montserrat', sans-serif;
    color: #F1F1F1;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
}
.white-text-align-center{
    text-align: center;
}


/* Адаптация */
@media (min-width: 1400px) {
    body{
        overflow: hidden;
    }
    .brand{
        font-size: 48px;
        margin-left: 70px;
    }
    .head-button{
        font-size: 22px;
        letter-spacing: 2px;
    }
    .dropdown-menu{
        background-color: #F1F1F1;
    }
    .head-button-black{
        color: black;
        font-size: 22px;
        letter-spacing: 2px;
    }
    #hamburger-menu{
        margin-right: 70px;
    }

    .white-button{
        padding: 13px 60px;
        font-size: 18px;
        letter-spacing: 3px;
    }
    .blue-box{
        border-radius: 34px 34px 0 0;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        padding: 30px 55px 100px;
        margin-top: 0;
    }
    .big-main-text{
        font-size: 147px;
        margin-top: -60px;
        margin-left: -330px;
    }
    #crs{
        font-size: 50px;
    }
    .white-text{
        font-size: 23px;
        letter-spacing: 4px;
        margin-top: -15px;
    }
    #sheldon-photo{
        width: 560px;
        position: relative;
        z-index: -20;
        margin-top: 78px;
        margin-left: -60px;
    }
    #sheldon-text{
        margin-top: 15px;
        margin-left: 15px;
    }
    #adventure-time-photo{
        width: 560px;
        position: relative;
        z-index: -20;
        margin-top: 75px;
        margin-left: -15px;
    }
    #adventure-time-text{
        margin-top: 15px;
        margin-left: -15px;
    }
    #left-button{
        margin-left: 10px;
        margin-top: 10px;
    }
    #right-button{
        margin-left: -10px;
        margin-top: 10px;
    }
    #left-rhombus{
        display: inline;
        position: absolute;
        bottom: 0;
        left: 3%;
    }
    #right-rhombus{
        display: inline;
        position: absolute;
        bottom: 0;
        right: 3%;
    }
    .left-right-part-lg{
        display: inline;
    }
    .left-right-part-sm{
        display: none;
    }
    .rhombus-sm{
        display: none;
    }
    .big-screen{
        display: compact;
    }
    .small-screen{
        display: none;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    body{
        overflow: hidden;
    }
    .brand{
        font-size: 44px;
    }
    .head-button{
        font-size: 19px;
        letter-spacing: 1px;
    }
    .dropdown-menu{
        background-color: #F1F1F1;
    }
    .head-button-black{
        color: black;
        font-size: 19px;
        letter-spacing: 1px;
    }

    .white-button{
        padding: 12px 50px;
        font-size: 16px;
        letter-spacing: 3px;
    }
    .blue-box{
        border-radius: 34px 34px 0 0;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        padding: 30px 45px 150px;
        margin-top: 0;
    }
    .big-main-text{
        font-size: 120px;
        margin-top: -60px;
        margin-left: -330px;
    }
    #crs{
        font-size: 50px;
    }
    .white-text{
        font-size: 20px;
        letter-spacing: 3px;
        margin-top: -25px;
    }
    #sheldon-photo{
        width: 510px;
        position: relative;
        z-index: -20;
        margin-top: 58px;
        margin-left: -60px;
    }
    #sheldon-text{
        margin-top: 15px;
        margin-left: 15px;
    }
    #adventure-time-photo{
        width: 510px;
        position: relative;
        z-index: -20;
        margin-top: 55px;
        margin-left: -15px;
    }
    #adventure-time-text{
        margin-top: 15px;
        margin-left: -15px;
    }
    #left-button{
        margin-left: 10px;
        margin-top: 10px;
    }
    #right-button{
        margin-left: -10px;
        margin-top: 10px;
    }
    #left-rhombus{
        display: inline;
        position: absolute;
        bottom: 0;
        left: 3%;
    }
    #right-rhombus{
        display: inline;
        position: absolute;
        bottom: 0;
        right: 3%;
    }
    .left-right-part-lg{
        display: inline;
    }
    .left-right-part-sm{
        display: none;
    }
    .rhombus-sm{
        display: none;
    }
    .big-screen{
        display: compact;
    }
    .small-screen{
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    body{
        overflow: hidden;
    }
    .brand{
        font-size: 42px;
        margin-left: 0;
    }
    .head-button{
        font-size: 18px;
        letter-spacing: 0;
    }
    .dropdown-menu{
        background-color: #F1F1F1;
    }
    .head-button-black{
        color: black;
        font-size: 18px;
        letter-spacing: 0;
    }
    #hamburger-menu{
        margin-right: 0;
    }

    .white-button{
        padding: 10px 40px;
        font-size: 16px;
        letter-spacing: 3px;
    }
    .blue-box{
        border-radius: 34px 34px 0 0;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        padding: 30px 35px 170px;
        margin-top: 0;
    }
    .big-main-text{
        font-size: 100px;
        margin-top: -50px;
        margin-left: -210px;
    }
    #crs{
        font-size: 50px;
    }
    .white-text{
        font-size: 18px;
        letter-spacing: 3px;
        margin-top: -25px;
    }
    #sheldon-photo{
        width: 440px;
        position: relative;
        z-index: -20;
        margin-top: 52px;
        margin-left: -60px;
    }
    #sheldon-text{
        margin-top: 15px;
        margin-left: 15px;
    }
    #adventure-time-photo{
        width: 440px;
        position: relative;
        z-index: -20;
        margin-top: 50px;
        margin-left: -15px;
    }
    #adventure-time-text{
        margin-top: 15px;
        margin-left: -15px;
    }
    #left-button{
        margin-left: 10px;
        margin-top: 5px;
    }
    #right-button{
        margin-left: -10px;
        margin-top: 5px;
    }
    #left-rhombus{
        display: inline;
        position: absolute;
        bottom: 0;
        left: 3%;
    }
    #right-rhombus{
        display: inline;
        position: absolute;
        bottom: 0;
        right: 3%;
    }
    .left-right-part-lg{
        display: inline;
    }
    .left-right-part-sm{
        display: none;
    }
    .rhombus-sm{
        display: none;
    }
    .big-screen{
        display: compact;
    }
    .small-screen{
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    body{
        overflow-x: hidden;
    }
    .brand{
        font-size: 48px;
        margin-left: 0;
    }
    .head-button{
        font-size: 22px;
        letter-spacing: 2px;
    }
    .dropdown-menu{
        border: none;
        background: none;
    }
    .head-button-black{
        color: white;
        font-size: 22px;
        letter-spacing: 2px;
    }
    #hamburger-menu{
        margin-right: 0;
    }

    .white-button{
        padding: 12px 50px;
        font-size: 16px;
        letter-spacing: 3px;
        position: relative;
    }
    .blue-box{
        border-radius: 34px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        padding: 30px 45px 15px;
        margin-top: 170px;
    }
    .big-main-text{
        font-size: 70px;
        margin-top: -200px;
        margin-left: 0;
        text-align: center;
    }
    #crs{
        font-size: 30px;
        text-align: center;
        margin-top: -36px;
    }
    .white-text{
        font-size: 18px;
        letter-spacing: 3px;
        margin-top: 70px;
    }
    #sheldon-photo{
        width: 428px;
        position: relative;
        z-index: -20;
        margin-top: 60px;
    }
    #sheldon-text{
        margin-top: 15px;
    }
    #adventure-time-photo{
        width: 428px;
        position: relative;
        z-index: -20;
        margin-top: 50px;
    }
    #adventure-time-text{
        margin-top: 15px;
    }
    #left-button{
        margin-top: 5px;
    }
    #right-button{
        margin-top: 5px;
        margin-bottom: 50px;
    }
    #left-rhombus{
        display: none;
    }
    #right-rhombus{
        display: none;
    }
    .left-right-part-lg{
        display: none;
    }
    .left-right-part-sm{
        display: inline;
    }
    .form-box{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rhombus-sm{
        display: inline;
    }
    #left-rhombus-sm{
        position: absolute;
        bottom: 0;
        left: 4px;
    }
    #right-rhombus-sm{
        position: absolute;
        bottom: 0;
        right: 4px;
    }
    .rhombus-place{
        position: relative;
    }
    .big-screen{
        display: none;
    }
    .small-screen{
        display: compact;
    }
}

@media (max-width: 576px) {
    body{
        overflow-x: hidden;
    }
    .head-button{
        text-align: center;
        font-size: 22px;
        letter-spacing: 2px;
    }
    .dropdown-menu{
        border: none;
        background: none;
    }
    .head-button-black{
        text-align: center;
        color: white;
        font-size: 22px;
        letter-spacing: 2px;
    }
    #hamburger-menu{
        margin-right: 0;
    }

    .white-button{
        padding: 10px 40px;
        font-size: 15px;
        letter-spacing: 2px;
        position: relative;
    }
    .blue-box{
        border-radius: 34px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        padding: 30px 25px 10px;
        margin-top: 130px;
    }
    .big-main-text{
        font-size: 52px;
        margin-top: -150px;
        margin-left: 0;
        text-align: center;
    }
    #crs{
        font-size: 22px;
        text-align: center;
        margin-top: -36px;
    }
    .white-text{
        font-size: 15px;
        letter-spacing: 2px;
        margin-top: 55px;
    }
    #sheldon-photo{
        width: 300px;
        position: relative;
        z-index: -20;
        margin-top: 60px;
    }
    #sheldon-text{
        margin-top: 15px;
    }
    #adventure-time-photo{
        width: 300px;
        position: relative;
        z-index: -20;
        margin-top: 50px;
    }
    #adventure-time-text{
        margin-top: 15px;
    }
    #left-button{
        margin-top: 5px;
    }
    #right-button{
        margin-top: 5px;
        margin-bottom: 50px;
    }
    #left-rhombus{
        display: none;
    }
    #right-rhombus{
        display: none;
    }
    .left-right-part-lg{
        display: none;
    }
    .left-right-part-sm{
        display: inline;
    }
    .form-box{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rhombus-sm{
        display: inline;
    }
    #left-rhombus-sm{
        position: absolute;
        bottom: 0;
        left: 4px;
        height: 791px !important;
    }
    #right-rhombus-sm{
        position: absolute;
        bottom: 0;
        right: 4px;
        height: 791px !important;
    }
    .rhombus-place{
        position: relative;
    }
    .big-screen{
        display: none;
    }
    .small-screen{
        display: compact;
    }
}



/* ЧИСТО ДЛЯ ШАПКИ */
@media (min-width: 1300px) and (max-width: 1400px) {
    .brand{
        margin-left: 60px;
    }
    #hamburger-menu{
        margin-right: 40px;
    }
}

@media (min-width: 1250px) and (max-width: 1300px) {
    .brand{
        margin-left: 40px !important;
    }
    #hamburger-menu{
        margin-right: 30px !important;
    }
}

@media (min-width: 992px) and (max-width: 1020px) {
    .head-button{
        font-size: 17px;
        letter-spacing: 0;
    }
    .head-button-black{
        font-size: 17px;
        letter-spacing: 0;
    }
}

@media (min-width: 490px) and (max-width: 576px) {
    .brand{
        font-size: 36px;
        margin-left: 110px;
    }
}

@media (min-width: 400px) and (max-width: 490px) {
    .brand{
        font-size: 36px;
        margin-left: 70px;
    }
}

@media (max-width: 400px) {
    .brand{
        font-size: 30px;
        margin-left: 72px;
    }
}

@media (max-width: 376px) {
    .brand{
        font-size: 30px;
        margin-left: 58px;
    }
}

@media (max-width: 350px) {
    .brand{
        font-size: 30px;
        margin-left: 40px;
    }
}
