@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&family=Yeseva+One&display=swap');

/* Общие настроечки */
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}


/* Шапка (START) */
#navbar{
    background: none;
}

.brand{
    font-family: 'Yeseva One', sans-serif;
    font-size: 48px;
    margin-left: 70px;
}

.head-button{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: black;
    letter-spacing: 3px;
    margin-top: 10px;
}

#hamburger-menu{
    margin-right: 70px;
}
/* Шапка (END) */

/* Главная страница наполнение (START) */
#home-page-text{
    font-family: 'Yeseva One', sans-serif;
    font-size: 144px;
    margin-top: 40px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#home-page-text-brand{
    margin-top: -65px;
    font-family: 'Yeseva One', sans-serif;
    font-size: 48px;
    color: #0358E4;
    text-align: right;
    margin-right: 80px;
}

#home-page-text-slogan{
    font-family: 'Yeseva One', sans-serif;
    font-size: 48px;
    color: black;
    margin-top: 50px;
}

.home-page-text-mini{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: black;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}
#home-page-text-mini-1{
    margin-top: -10px;
}
#home-page-text-mini-2{
    margin-top: -5px;
}

.blue-button{
    width: auto;
    background-color: #0358E4;
    border: none;
    padding: 12px 60px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.icons{
    margin-right: 20px;
    margin-top: 0;
}

#photo-block{
    position: absolute;
}

.photos{
    position: absolute;
    background: lightgray 50%;
    z-index: 1;
}

.circle {
    position: relative;
    width: 580px;
    height: 580px;
    border-radius: 580px;
    border: 20px solid #0358E4;
    background: none;
    z-index: 2;
    top: 160px;
    left: 200px;

}

#home-photo-block{
    position: relative;
}

.orientated-button{
    position: relative;
    z-index: 3;
    top: -50px;
    left: 320px;
    padding: 12px 70px;
}

/* Факин подчеркивание слогана (START)*/
.rhombus {
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: black;
    position: relative;
    top: -35px;
    right: -450px;
}
.rhombus:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -8px;
    top: 7px;
    border: 8px solid transparent;
    border-top-color: black;
}
.rhombus:before {
    content: "";
    position: absolute;
    left: -200px;
    top: 6px;
    border: 3px solid transparent;
    border-top-color: black;
    color: black;
    border-radius: 5px;
    width: 200px;
}
/* Факин подчеркивание слогана (END)*/

.snoska-text{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 2px;
    text-transform: uppercase;
}
#snoska{
    position: absolute !important;
    bottom: 0 !important;
    left: 9.5% !important;
    font-size: 10px !important;
}
/* Главная страница наполнение (END) */






