@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&family=Yeseva+One&display=swap');

/* Общие настроечки */
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.carousel{
    height: 100%;
    width: 100%;
    margin-top: -45px;
}



/* Шапка (START) */
#navbar{
    background: none;
}

.brand{
    font-family: 'Yeseva One', sans-serif;
}

.head-button{
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-top: 10px;
}

/* Шапка (END) */

#triangle{
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
}

.big-text{
    font-family: 'Yeseva One', sans-serif;
    font-size: 140px;
    color: black;
    margin-left: -10px;
    margin-top: 5px;
}

.black-text{
    font-family: 'Yeseva One', sans-serif;
    font-size: 47px;
    color: black;
    text-align: right;
    margin-top: -85px;
    margin-right: -25px;
}

.white-main-text{
    font-family: 'Yeseva One', sans-serif;
    color: #F1F1F1;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.white-not-button{
    width: 270px;
    background-color: white;
    border: none;
    padding: 12px 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #0358E4;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: -5px;
}

.white-info-text{
    color: #F1F1F1;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 20px;
}

#up-arrow{
    position: relative;
    top: -65px;
    right: -55px;
}
#down-arrow{
    position: relative;
    top: 25px;
    right: -583px;
}

.white-box-1{
    border-radius: 34px;
    background: #FFF;
    width: 370px;
    height: 200px;
    flex-shrink: 0;
}

.white-box-23{
    border-radius: 34px;
    margin-left: 60px;
    background: #FFF;
    width: 355px;
    height: 220px;
    flex-shrink: 0;
}

.window{
    margin-left: 15px;
    margin-top: 10px;
}

#second-box{
    position: relative;
    z-index: 10;
    margin-top: -155px;
    margin-left: 180px;
}

.photo{
    margin-left: 120px;
}

/* Факин подчеркивание палка вправо (START)*/
.rhombus-right {
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: black;
    position: relative;
    top: -35px;
    right: -443px;
}
.rhombus-right:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -8px;
    top: 7px;
    border: 8px solid transparent;
    border-top-color: black;
}
.rhombus-right:before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    border: 3px solid transparent;
    border-top-color: black;
    color: black;
    border-radius: 5px;
    width: 200px;
}
/* Факин подчеркивание палка вправо (END)*/


/* Адаптация */
@media (min-width: 1600px) {
    body{
        overflow: hidden;
    }
    .brand{
        font-size: 48px;
        margin-left: 70px;
    }
    .head-button{
        font-size: 22px;
        letter-spacing: 3px;
    }
    #hamburger-menu{
        margin-right: 70px;
    }
}

@media (min-width: 1400px) and (max-width: 1600px) {
    body{
        overflow: hidden;
    }
    .brand{
        font-size: 48px;
        margin-left: 70px;
    }
    .head-button{
        font-size: 22px;
        letter-spacing: 2px;
    }
    #hamburger-menu{
        margin-right: 70px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    body{
        overflow: hidden;
    }
    .brand{
        font-size: 44px;
    }
    .head-button{
        font-size: 19px;
        letter-spacing: 1px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    body{
        overflow: hidden;
    }
    .brand{
        font-size: 42px;
        margin-left: 0;
    }
    .head-button{
        font-size: 18px;
        letter-spacing: 0;
    }
    #hamburger-menu{
        margin-right: 0;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    body{
        overflow: hidden;
    }
    .brand{
        font-size: 48px;
        margin-left: 0;
    }
    .head-button{
        font-size: 22px;
        letter-spacing: 2px;
    }
    #hamburger-menu{
        margin-right: 70px;
    }
}

@media (max-width: 576px) {
    body{
        overflow-x: hidden;
    }
    .head-button{
        text-align: center;
        font-size: 22px;
        letter-spacing: 2px;
    }
    #hamburger-menu{
        margin-right: 70px;
    }
}



/* ЧИСТО ДЛЯ ШАПКИ */
@media (min-width: 1300px) and (max-width: 1400px) {
    .brand{
        margin-left: 60px;
    }
    #hamburger-menu{
        margin-right: 40px;
    }
}

@media (min-width: 1250px) and (max-width: 1300px) {
    .brand{
        margin-left: 40px !important;
    }
    #hamburger-menu{
        margin-right: 30px !important;
    }
}

@media (min-width: 992px) and (max-width: 1020px) {
    .head-button{
        font-size: 17px;
        letter-spacing: 0;
    }
}

@media (min-width: 490px) and (max-width: 576px) {
    .brand{
        font-size: 36px;
        margin-left: 110px;
    }
}

@media (min-width: 400px) and (max-width: 490px) {
    .brand{
        font-size: 36px;
        margin-left: 80px;
    }
}

@media (max-width: 400px) {
    .brand{
        font-size: 30px;
        margin-left: 46px;
    }
}

@media (max-width: 350px) {
    .brand{
        font-size: 30px;
        margin-left: 40px;
    }
}

