@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&family=Yeseva+One&display=swap');

/* Общие настроечки */
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.carousel{
    height: 100%;
    width: 100%;
    margin-top: -45px;
}



/* Шапка (START) */
#navbar{
    background: none;
}

.brand{
    font-family: 'Yeseva One', sans-serif;
}

.head-button{
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-top: 10px;
}

/* Шапка (END) */

.big-text{
    font-family: 'Yeseva One', sans-serif;
    color: black;
}

.black-text{
    font-family: 'Yeseva One', sans-serif;
    color: black;
    text-align: right;
}

.white-main-text{
    font-family: 'Yeseva One', sans-serif;
    color: #F1F1F1;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.white-not-button{
    background-color: white;
    border: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #0358E4;
    font-weight: 600;
    text-transform: uppercase;
}

.white-info-text{
    color: #F1F1F1;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
}

.white-box-1{
    background: #FFF;
    flex-shrink: 0;
}

.white-box-23{
    background: #FFF;
    flex-shrink: 0;
}

/* Факин подчеркивание палка вправо (START)*/
.rhombus-right {
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: black;
    position: relative;
    top: -35px;
    right: -443px;
}
.rhombus-right:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -8px;
    top: 8px;
    border: 8px solid transparent;
    border-top-color: black;
}
.rhombus-right:before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    border: 3px solid transparent;
    border-top-color: black;
    color: black;
    border-radius: 5px;
    width: 200px;
}
/* Факин подчеркивание палка вправо (END)*/


/* Адаптация */
@media (min-width: 1400px) {
    body{
        overflow: hidden;
    }
    .brand{
        font-size: 48px;
        margin-left: 70px;
    }
    .head-button{
        font-size: 22px;
        letter-spacing: 2px;
    }
    #hamburger-menu{
        margin-right: 70px;
    }

    #triangle{
        width: 1160px;
        position: absolute;
        z-index: -100;
        top: 0;
        left: 0;
    }
    .big-text{
        font-size: 140px;
        margin-left: -10px;
        margin-top: 5px;
    }
    .black-text{
        font-size: 47px;
        margin-top: -85px;
        margin-right: -25px;
    }
    .white-main-text{
        font-size: 30px;
    }
    .white-not-button{
        width: 270px;
        padding: 12px 40px;
        font-size: 18px;
        letter-spacing: 3px;
        margin-top: -5px;
    }
    .white-info-text{
        font-size: 23px;
        letter-spacing: 4px;
        margin-top: 20px;
    }
    #up-arrow{
        position: relative;
        top: -65px;
        right: -55px;
    }
    #down-arrow{
        position: relative;
        top: 25px;
        right: -583px;
    }
    .white-box-1{
        border-radius: 34px;
        width: 370px;
        height: 200px;
    }
    .white-box-23{
        border-radius: 34px;
        margin-left: 60px;
        width: 355px;
        height: 220px;
    }
    .window{
        width: 336px;
        margin-left: 15px;
        margin-top: 10px;
    }
    .window-2{
        width: 320px;
        margin-left: 15px;
        margin-top: 10px;
    }
    .window-3{
        width: 310px;
        margin-left: 15px;
        margin-top: 10px;
    }
    #second-box{
        position: relative;
        z-index: 10;
        margin-top: -155px;
        margin-left: 180px;
    }
    .photo{
        width: 500px;
        margin-left: 120px;
    }
    #carouselExampleControls{
        display: compact;
    }
    #rhombus{
        display: compact;
    }
    #rhombus-sm{
        display: none;
    }
    .small-screen{
        display: none;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    body{
        overflow: hidden;
    }
    .brand{
        font-size: 44px;
    }
    .head-button{
        font-size: 19px;
        letter-spacing: 1px;
    }

    #triangle{
        width: 1080px;
        position: absolute;
        z-index: -100;
        top: 0;
        left: 0;
    }
    .big-text{
        font-size: 120px;
        margin-left: -10px;
        margin-top: -25px;
    }
    .black-text{
        font-size: 40px;
        margin-top: -70px;
        margin-right: -20px;
    }
    .rhombus-right{
        right: -365px;
        top: -32px;
    }
    .white-main-text{
        font-size: 28px;
        margin-top: 5px;
    }
    .white-not-button{
        width: 250px;
        padding: 12px 40px;
        font-size: 17px;
        letter-spacing: 3px;
        margin-top: -5px;
    }
    .white-info-text{
        font-size: 20px;
        letter-spacing: 3px;
        margin-top: 20px;
    }
    #up-arrow{
        position: relative;
        top: -65px;
        right: -100px;
    }
    #down-arrow{
        position: relative;
        top: 25px;
        right: -552px;
    }
    .white-box-1{
        border-radius: 34px;
        width: 360px;
        height: 200px;
    }
    .white-box-23{
        border-radius: 34px;
        margin-left: 60px;
        width: 355px;
        height: 220px;
    }
    .window{
        width: 330px;
        margin-left: 15px;
        margin-top: 10px;
    }
    .window-2{
        width: 310px;
        margin-left: 15px;
        margin-top: 10px;
    }
    .window-3{
        width: 310px;
        margin-left: 15px;
        margin-top: 10px;
    }
    #second-box{
        position: relative;
        z-index: 10;
        margin-top: -155px;
        margin-left: 170px;
    }
    .photo{
        width: 450px;
        margin-left: 120px;
    }
    #carouselExampleControls{
        display: compact;
    }
    #rhombus{
        display: compact;
    }
    #rhombus-sm{
        display: none;
    }
    .small-screen{
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    body{
        overflow: hidden;
    }
    .brand{
        font-size: 42px;
        margin-left: 0;
    }
    .head-button{
        font-size: 18px;
        letter-spacing: 0;
    }
    #hamburger-menu{
        margin-right: 0;
    }

    #triangle{
        width: 1300px;
        position: absolute;
        z-index: -100;
        top: -20%;
        left: -42%;
    }
    .big-text{
        font-size: 100px;
        margin-left: -10px;
        margin-top: -25px;
    }
    .black-text{
        font-size: 32px;
        margin-top: -60px;
        margin-right: 0;
    }
    .rhombus-right{
        right: -291px;
        top: -32px;
    }
    .rhombus-right:before{
        width: 160px;
    }
    .white-main-text{
        font-size: 22px;
        margin-top: 5px;
    }
    .white-not-button{
        width: 220px;
        padding: 10px 40px;
        font-size: 15px;
        letter-spacing: 2px;
        margin-top: -5px;
    }
    .white-info-text{
        font-size: 18px;
        letter-spacing: 2px;
        margin-top: 20px;
    }
    #up-arrow{
        position: relative;
        top: -65px;
        right: -100px;
    }
    #down-arrow{
        position: relative;
        top: 25px;
        right: -476px;
    }
    .white-box-1{
        border-radius: 34px;
        width: 300px;
        height: 170px;
    }
    .white-box-23{
        border-radius: 34px;
        margin-left: 60px;
        width: 290px;
        height: 190px;
    }
    .window{
        width: 270px;
        margin-left: 15px;
        margin-top: 10px;
    }
    .window-2{
        width: 260px;
        margin-left: 15px;
        margin-top: 10px;
    }
    .window-3{
        width: 260px;
        margin-left: 15px;
        margin-top: 10px;
    }
    #second-box{
        position: relative;
        z-index: 10;
        margin-top: -130px;
        margin-left: 140px;
    }
    .photo{
        width: 355px;
        margin-left: 110px;
        margin-top: 60px;
    }
    #carouselExampleControls{
        display: compact;
    }
    #rhombus{
        display: compact;
    }
    #rhombus-sm{
        display: none;
    }
    .small-screen{
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    body{
        overflow-x: hidden;
    }
    .brand{
        font-size: 48px;
        margin-left: 0;
    }
    .head-button{
        font-size: 22px;
        letter-spacing: 2px;
    }
    .dropdown-menu{
        border: none;
        background: none;
    }
    #hamburger-menu{
        margin-right: 0;
    }

    #triangle{
        width: 2500px;
        position: absolute;
        z-index: -100;
        top: -300px;
        left: -900px;
    }
    .big-text{
        font-size: 90px;
        text-align: center;
        margin-top: -25px;
    }
    .black-text{
        font-size: 26px;
        margin-top: -40px;
        text-align: center;
    }
    #rhombus{
        display: none;
    }
    #rhombus-sm{
        display: compact;
    }
    .rhombus-right{
        right: -90px;
        top: -48px;
    }
    .rhombus-right:before{
        width: 230px;
        left: 2px;
    }
    .white-main-text{
        font-size: 22px;
        margin-top: 5px;
    }
    .white-not-button{
        width: 220px;
        padding: 10px 40px;
        font-size: 15px;
        letter-spacing: 2px;
        margin-top: -5px;
    }
    .white-info-text{
        font-size: 18px;
        letter-spacing: 2px;
        margin-top: 20px;
    }
    #up-arrow{
        position: relative;
        top: -65px;
        right: -100px;
    }
    #down-arrow{
        position: relative;
        top: 25px;
        right: -476px;
    }
    .white-box-1{
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        border-radius: 34px;
        width: 300px;
        height: 170px;
    }
    .white-box-23{
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        border-radius: 34px;
        margin-left: 60px;
        width: 290px;
        height: 190px;
    }
    .window{
        width: 270px;
        margin-left: 15px;
        margin-top: 10px;
    }
    .window-2{
        width: 260px;
        margin-left: 15px;
        margin-top: 10px;
    }
    .window-3{
        width: 260px;
        margin-left: 15px;
        margin-top: 10px;
    }
    #second-box{
        position: relative;
        z-index: 10;
        margin-top: -130px;
        margin-left: 140px;
    }
    .photo{
        display: none;
    }
    #carouselExampleControls{
        display: none;
    }
    .small-col{
        width: 450px;
    }
}

@media (max-width: 576px) {
    body{
        overflow-x: hidden;
    }
    .head-button{
        text-align: center;
        font-size: 22px;
        letter-spacing: 2px;
    }
    .dropdown-menu{
        border: none;
        background: none;
    }
    #hamburger-menu{
        margin-right: 0;
    }

    #triangle{
        width: 2300px;
        position: absolute;
        z-index: -100;
        top: -180px;
        left: -1060px;
    }
    .big-text{
        font-size: 70px;
        text-align: center;
        margin-top: 0;
    }
    .black-text{
        font-size: 22px;
        margin-top: -40px;
        text-align: center;
    }
    #rhombus{
        display: none;
    }
    #rhombus-sm{
        display: compact;
    }
    .rhombus-right{
        right: -65px;
        top: -48px;
    }
    .rhombus-right:before{
        width: 190px;
        left: 2px;
    }
    .white-main-text{
        font-size: 20px;
        margin-top: 25px;
    }
    .white-not-button{
        width: 180px;
        padding: 10px 25px;
        font-size: 14px;
        letter-spacing: 2px;
        margin-top: -5px;
    }
    .white-info-text{
        font-size: 16px;
        letter-spacing: 2px;
        margin-top: 20px;
    }
    #up-arrow{
        position: relative;
        top: -65px;
        right: -100px;
    }
    #down-arrow{
        position: relative;
        top: 25px;
        right: -476px;
    }
    .white-box-1{
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        border-radius: 34px;
        width: 256px;
        height: 150px;
    }
    .white-box-23{
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        border-radius: 34px;
        margin-left: 26px;
        width: 270px;
        height: 180px;
    }
    .window{
        width: 230px;
        margin-left: 15px;
        margin-top: 10px;
    }
    .window-2{
        width: 240px;
        margin-left: 15px;
        margin-top: 10px;
    }
    .window-3{
        width: 240px;
        margin-left: 15px;
        margin-top: 10px;
    }
    #second-box{
        position: relative;
        z-index: 10;
        margin-top: -60px;
        margin-left: 60px;
    }
    .photo{
        display: none;
    }
    #carouselExampleControls{
        display: none;
    }
    .small-col{
        width: 340px;
    }
}



/* ЧИСТО ДЛЯ ШАПКИ */
@media (min-width: 1300px) and (max-width: 1400px) {
    .brand{
        margin-left: 60px;
    }
    #hamburger-menu{
        margin-right: 40px;
    }
}

@media (min-width: 1250px) and (max-width: 1300px) {
    .brand{
        margin-left: 40px !important;
    }
    #hamburger-menu{
        margin-right: 30px !important;
    }
}

@media (min-width: 992px) and (max-width: 1020px) {
    .head-button{
        font-size: 17px;
        letter-spacing: 0;
    }
}

@media (min-width: 490px) and (max-width: 576px) {
    .brand{
        font-size: 36px;
        margin-left: 110px;
    }
}

@media (min-width: 400px) and (max-width: 490px) {
    .brand{
        font-size: 36px;
        margin-left: 80px;
    }
}

@media (max-width: 400px) {
    .brand{
        font-size: 30px;
        margin-left: 72px;
    }
}

@media (max-width: 376px) {
    .brand{
        font-size: 30px;
        margin-left: 58px;
    }
}

@media (max-width: 350px) {
    .brand{
        font-size: 30px;
        margin-left: 40px;
    }
}

