@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&family=Yeseva+One&display=swap');

/* Общие настроечки */
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* Шапка (START) */
#navbar{
    background: none;
}

.brand{
    font-family: 'Yeseva One', sans-serif;
}

.head-button{
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-top: 10px;
}

/* Шапка (END) */



.main-text-max{
    font-family: 'Yeseva One', sans-serif;
    color: black;
}
.main-text-mini{
    font-family: 'Yeseva One', sans-serif;
    color: black;
}

.rhombus {
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: black;
    position: relative;
    top: -30px;
    right: -380px;
}
.rhombus:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -8px;
    top: 7px;
    border: 8px solid transparent;
    border-top-color: black;
}
.rhombus:before {
    content: "";
    position: absolute;
    left: -200px;
    top: 6px;
    border: 3px solid transparent;
    border-top-color: black;
    color: black;
    border-radius: 5px;
    width: 200px;
}

#triangle{
    position: absolute;
    z-index: -100;
}

.white-box{
    position: relative;
    background-color: #FFFFFF;
    border-radius: 34px !important;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 25px 35px 50px;
    margin: -5px 15px 15px;
}

#translate{
    position: absolute;
    top: 27px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

.white-text-name{
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 26.4px */
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: -57px;
}

.information-text-mini{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 8px;
}

.cost-text{
    font-family: 'Montserrat', sans-serif;
    color: #3C6FC3;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: -57px;
}

.cost-lower-text{
    font-family: 'Montserrat', sans-serif;
    color: #3C6FC3;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: -15px;
}

#third-card-text{
    margin-bottom: 15px;
}

/* Адаптация */
@media (min-width: 1400px) {
    body{
        overflow: hidden;
    }

    .brand{
        font-size: 48px;
        margin-left: 70px;
    }
    .head-button{
        font-size: 22px;
        letter-spacing: 2px;
    }
    #hamburger-menu{
        margin-right: 70px;
    }

    #triangle{
        top: -305px;
        left: 17%;
        width: 2200px;
    }

    .main-text-max{
        font-size: 126px;
        margin-bottom: -22px;
        margin-top: -50px;
        padding-bottom: 0;
    }
    .main-text-mini{
        font-size: 50px;
        margin-top: 33px;
        margin-left: -60px;
    }
    .white-box{
        border-radius: 34px 34px 0 0 !important;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    body{
        overflow: hidden;
    }

    .brand{
        font-size: 44px;
    }
    .head-button{
        font-size: 19px;
        letter-spacing: 1px;
    }

    #triangle{
        top: -380px;
        left: 17%;
        width: 2200px;
    }

    .main-text-max{
        font-size: 116px;
        margin-bottom: -22px;
        margin-top: -30px;
        padding-bottom: 0;
    }
    .main-text-mini{
        font-size: 46px;
        margin-top: 45px;
        margin-left: -60px;
    }
    .rhombus{
        right: -320px;
        top: -26px;
    }

    .white-box{
        margin: 15px 10px 10px 10px;
        padding-bottom: 20px;
        padding-left: 25px;
        padding-right: 25px;
    }
    #translate{
        top: 32px;
    }
    .white-text-name{
        margin-top: -56px;
        font-size: 17px;
        letter-spacing: 3px;
    }

    .information-text-mini{
        font-size: 12px;
        letter-spacing: 1px;
    }

    .cost-text{
        font-size: 17px;
        letter-spacing: 3px;
    }

    .cost-lower-text{
        font-size: 12px;
        letter-spacing: 1px;
    }

    .bc-box{
        width: 200px!important;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    body{
        overflow-x: hidden;
    }

    .brand{
        font-size: 42px;
        margin-left: 0;
    }
    .head-button{
        font-size: 18px;
        letter-spacing: 0;
    }
    #hamburger-menu{
        margin-right: 0;
    }

    #triangle{
        top: -190px;
        left: -33%;
        width: 2000px;
    }

    .main-text-max{
        font-size: 104px;
        margin-bottom: -22px;
        margin-top: -30px;
        padding-bottom: 0;
    }
    .main-text-mini{
        font-size: 38px;
        margin-top: 39px;
        margin-left: -30px;
    }
    .rhombus{
        right: -288px;
        top: -25px;
    }

    .white-box{
        margin: 15px 35px 10px 35px;
        padding-bottom: 20px;
    }
    #translate{
        top: 32px;
    }
    .white-text-name{
        margin-top: -56px;
        font-size: 17px;
        letter-spacing: 3px;
    }

    .information-text-mini{
        font-size: 12px;
        letter-spacing: 1px;
    }

    .cost-text{
        font-size: 17px;
        letter-spacing: 3px;
    }

    .cost-lower-text{
        font-size: 12px;
        letter-spacing: 1px;
    }

    .bc-box{
        width: 200px!important;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    body{
        overflow-x: hidden;
    }
    .brand{
        font-size: 48px;
        margin-left: 0;
    }
    .head-button{
        font-size: 22px;
        letter-spacing: 2px;
    }
    .dropdown-menu{
        border: none !important;
        background: none !important;
    }
    #hamburger-menu{
        margin-right: 0;
    }

    #triangle{
        top: -220px;
        left: -100%;
        width: 4000px;
    }

    .main-text-max{
        text-align: center;
        font-size: 96px;
        margin-bottom: -22px;
        margin-top: 0;
        padding-bottom: 0;
    }
    .main-text-mini{
        text-align: center;
        font-size: 38px;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: -5px;
    }
    .rhombus{
        right: -385px;
        top: -20px;
    }
    .rhombus:before{
        left: -270px;
        width: 270px;
    }

    .white-box{
        margin: 15px 15px 10px 15px;
        padding-bottom: 30px;
    }
}

@media (max-width: 576px) {
    .head-button{
        text-align: center;
        font-size: 22px;
        letter-spacing: 2px;
    }
    .dropdown-menu{
        border: none !important;
        background: none !important;
    }
    #hamburger-menu{
        margin-right: 0;
    }

    #triangle{
        display: none;
    }
    body {
        background-image: url('../pics/price/Polygon-1-sm.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main-text-max{
        text-align: center;
        font-size: 76px;
        margin-bottom: -22px;
        margin-top: 0;
        padding-bottom: 0;
    }
    .main-text-mini{
        text-align: center;
        font-size: 25px;
        margin: 0 5px -5px;
    }
    .rhombus{
        right: -340px;
        top: -10px;
    }
    .rhombus:before{
        left: -210px;
        width: 210px;
    }

    .white-box{
        margin: 15px 0 10px 0;
        padding-bottom: 20px;
    }
    #last-white-box{
        margin-bottom: 30px;
    }

    .white-text-name{
        margin-top: -56px;
        font-size: 17px;
        letter-spacing: 4px;
    }

    .information-text-mini{
        font-size: 13px;
        letter-spacing: 2px;
    }

    .cost-text{
        font-size: 18px;
        letter-spacing: 3px;
    }

    .cost-lower-text{
        font-size: 13px;
        letter-spacing: 2px;
    }

    .bc-box{
        width: 210px!important;
    }
}



@media (min-width: 768px) and (max-width: 992px) {
    #triangle{
        top: -160px;
        left: -80%;
        width: 2250px;
    }
    .rhombus{
        right: -470px;
        top: -20px;
    }
}


/* ЧИСТО ДЛЯ ШАПКИ */
@media (min-width: 1300px) and (max-width: 1400px) {
    .brand{
        margin-left: 60px;
    }
    #hamburger-menu{
        margin-right: 40px;
    }
}

@media (min-width: 1250px) and (max-width: 1300px) {
    .brand{
        margin-left: 30px !important;
    }
    #hamburger-menu{
        margin-right: 30px !important;
    }
}

@media (min-width: 992px) and (max-width: 1020px) {
    .head-button{
        font-size: 17px;
        letter-spacing: 0;
    }
}

@media (min-width: 490px) and (max-width: 576px) {
    .brand{
        font-size: 36px;
        margin-left: 110px;
    }
}

@media (min-width: 400px) and (max-width: 490px) {
    .brand{
        font-size: 36px;
        margin-left: 80px;
    }
    .rhombus{
        right: -310px;
        top: -10px;
    }
}

@media (max-width: 400px) {
    .brand{
        font-size: 30px;
        margin-left: 72px;
    }
    .rhombus{
        right: -260px;
        top: -10px;
    }
}

@media (max-width: 376px) {
    .brand{
        font-size: 30px;
        margin-left: 58px;
    }
}

@media (max-width: 350px) {
    .brand{
        font-size: 30px;
        margin-left: 40px;
    }
}


