@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&family=Yeseva+One&display=swap');

/* Общие настроечки */
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body {
    background-image: url('../pics/log-in/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Шапка (START) */
#navbar{
    background: none;
}

.brand{
    font-family: 'Yeseva One', sans-serif;
    color: white;
}

.head-button{
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 10px;
}

.head-button-black{
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}
/* Шапка (END) */

#background-photo{
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
}

.white-box{
    background-color: #FFFFFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.big-main-text{
    font-family: 'Yeseva One', sans-serif;
    color: black;
}

.blue-text{
    font-family: 'Yeseva One', sans-serif;
    color: #0358E4;
    text-align: center;
}
.black-text{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
}

#login{
    background-color: #0358E4;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: #f1f1f1;
    font-style: normal;
    font-weight: 400;
}
#pass{
    background-color: #D9D9D9;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-style: normal;
    font-weight: 400;
}
.password-label{
    position: relative;
}

.password-btn{
    position: absolute;
    cursor: pointer;
}
.password-btn:after{
    position: absolute;
    content: '';
    background: black;
    transform: rotate(45deg);
    transition: .3s all ease;
    opacity: 1;
}
.password-btn.active:after{
    opacity: 0;
}
.submit_button{
    background-color: #0358E4;;
    border: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    text-transform: uppercase;
}


/* Адаптация */
@media (min-width: 1400px){
    body{
        overflow: hidden;
    }
    .brand{
        font-size: 48px;
        margin-left: 70px;
    }
    .head-button{
        font-size: 22px;
        letter-spacing: 2px;
    }
    .dropdown-menu{
        background-color:#F1F1F1;
    }
    .head-button-black{
        color: black;
        font-size: 22px;
        letter-spacing: 2px;
    }
    #hamburger-menu{
        margin-right: 70px;
    }

    .white-box{
        width: 760px;
        border-radius: 34px;
        padding: 30px 80px 150px;
        margin-top: 10px;
    }
    .big-main-text{
        font-size: 130px;
        margin-top: -50px;
        margin-left: -307px;
        margin-right: -150px;
    }
    .blue-text{
        margin-top: -60px;
        font-size: 50px;
        margin-left: -90px;
        margin-right: -100px;
    }
    .black-text{
        font-size: 20px;
        letter-spacing: 4px;
        margin-bottom: 3px;
        margin-top: 30px;
    }
    #login_form{
        margin-top: 50px;
    }
    #login{
        width: 600px;
        height: 62px;
        border-radius: 14px;
        padding-left: 10px;
        font-size: 20px;
    }
    #pass{
        width: 600px;
        height: 62px;
        border-radius: 14px;
        padding-left: 10px;
        font-size: 20px;
    }
    #eye{
        width: 40px;
    }
    .password-btn{
        right: 20px;
        top: 67px;
    }
    .password-btn:after{
        top: 19px;
        right: 4px;
        width: 32px;
        height: 2px;
    }
    .submit_button{
        width: 600px;
        border-radius: 14px;
        padding: 12px 40px;
        font-size: 18px;
        letter-spacing: 3px;
        margin-top: 45px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    body{
        overflow: hidden;
    }
    .brand{
        font-size: 44px;
    }
    .head-button{
        font-size: 19px;
        letter-spacing: 1px;
    }
    .dropdown-menu{
        background-color:#F1F1F1;
    }
    .head-button-black{
        color: black;
        font-size: 19px;
        letter-spacing: 1px;
    }

    .white-box{
        width: 760px;
        border-radius: 34px;
        padding: 30px 80px 150px;
        margin-top: 10px;
    }
    .big-main-text{
        font-size: 130px;
        margin-top: -50px;
        margin-left: -180px;
        margin-right: -250px;
    }
    .blue-text{
        margin-top: -60px;
        font-size: 50px;
        margin-left: -90px;
        margin-right: -100px;
    }
    .black-text{
        font-size: 20px;
        letter-spacing: 4px;
        margin-bottom: 3px;
        margin-top: 30px;
    }
    #login_form{
        margin-top: 20px;
    }
    #login{
        width: 600px;
        height: 62px;
        border-radius: 14px;
        padding-left: 10px;
        font-size: 20px;
    }
    #pass{
        width: 600px;
        height: 62px;
        border-radius: 14px;
        padding-left: 10px;
        font-size: 20px;
    }
    #eye{
        width: 40px;
    }
    .password-btn{
        right: 20px;
        top: 67px;
    }
    .password-btn:after{
        top: 19px;
        right: 4px;
        width: 32px;
        height: 2px;
    }
    .submit_button{
        width: 600px;
        border-radius: 14px;
        padding: 12px 40px;
        font-size: 18px;
        letter-spacing: 3px;
        margin-top: 45px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    body{
        overflow-x: hidden;
    }
    .brand{
        font-size: 42px;
        margin-left: 0;
    }
    .head-button{
        font-size: 18px;
        letter-spacing: 0;
    }
    .dropdown-menu{
        background-color:#F1F1F1;
    }
    .head-button-black{
        color: black;
        font-size: 18px;
        letter-spacing: 0;
    }
    #hamburger-menu{
        margin-right: 0;
    }

    .white-box{
        width: 760px;
        border-radius: 34px 34px 0 0;
        padding: 30px 80px 150px;
        margin-top: 10px;
    }
    .big-main-text{
        font-size: 130px;
        margin-top: -40px;
        margin-left: -180px;
        margin-right: -250px;
    }
    .blue-text{
        margin-top: -60px;
        font-size: 50px;
        margin-left: -90px;
        margin-right: -100px;
    }
    .black-text{
        font-size: 20px;
        letter-spacing: 4px;
        margin-bottom: 3px;
        margin-top: 30px;
    }
    #login_form{
        margin-top: 40px;
    }
    #login{
        width: 600px;
        height: 62px;
        border-radius: 14px;
        padding-left: 10px;
        font-size: 20px;
    }
    #pass{
        width: 600px;
        height: 62px;
        border-radius: 14px;
        padding-left: 10px;
        font-size: 20px;
    }
    #eye{
        width: 40px;
    }
    .password-btn{
        right: 20px;
        top: 67px;
    }
    .password-btn:after{
        top: 19px;
        right: 4px;
        width: 32px;
        height: 2px;
    }
    .submit_button{
        width: 600px;
        border-radius: 14px;
        padding: 12px 40px;
        font-size: 18px;
        letter-spacing: 3px;
        margin-top: 50px;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    body{
        overflow: hidden;
    }
    .brand{
        font-size: 48px;
        margin-left: 0;
    }
    .head-button{
        font-size: 22px;
        letter-spacing: 2px;
    }
    .dropdown-menu{
        border: none;
        background: none;
    }
    .head-button-black{
        color: white;
        font-size: 22px;
        letter-spacing: 2px;
    }
    #hamburger-menu{
        margin-right: 0;
    }

    .white-box{
        width: 500px;
        border-radius: 34px 34px 0 0;
        padding: 30px 45px 200px;
        margin-top: 10px;
    }
    .big-main-text{
        font-size: 58px;
        margin-top: -10px;
        margin-left: 0;
        margin-right: -250px;
    }
    .blue-text{
        margin-top: -30px;
        font-size: 30px;
        margin-left: -100px;
        margin-right: -100px;
    }
    .black-text{
        font-size: 18px;
        letter-spacing: 4px;
        margin-bottom: 3px;
        margin-top: 30px;
    }
    #login_form{
        margin-top: 40px;
    }
    #login{
        width: 410px;
        height: 52px;
        border-radius: 14px;
        padding-left: 10px;
        font-size: 18px;
    }
    #pass{
        width: 410px;
        height: 52px;
        border-radius: 14px;
        padding-left: 10px;
        font-size: 18px;
    }
    #eye{
        width: 40px;
    }
    .password-btn{
        right: 16px;
        top: 60px;
    }
    .password-btn:after{
        top: 19px;
        right: 4px;
        width: 32px;
        height: 2px;
    }
    .submit_button{
        width: 410px;
        height: 52px;
        border-radius: 14px;
        padding: 12px 40px;
        font-size: 16px;
        letter-spacing: 3px;
        margin-top: 50px;
    }
}

@media (max-width: 576px) {
    body{
        overflow: hidden;
    }
    .head-button{
        text-align: center;
        font-size: 22px;
        letter-spacing: 2px;
    }
    .dropdown-menu{
        border: none;
        background: none;
    }
    .head-button-black{
        text-align: center;
        color: white!important;
        font-size: 22px;
        letter-spacing: 2px;
    }
    #hamburger-menu{
        margin-right: 0;
    }

    .white-box{
        width: 300px;
        border-radius: 34px 34px 0 0;
        padding: 30px 25px 250px;
        margin-top: 10px;
    }
    .big-main-text{
        font-size: 35px;
        margin-top: -10px;
        margin-left: 0;
        margin-right: -50px;
    }
    .blue-text{
        margin-top: -15px;
        font-size: 24px;
        margin-left: 0;
        margin-right: 0;
    }
    .black-text{
        font-size: 16px;
        letter-spacing: 4px;
        margin-bottom: 3px;
        margin-top: 30px;
    }
    #login_form{
        margin-top: 20px;
    }
    #login{
        width: 250px;
        height: 46px;
        border-radius: 14px;
        padding-left: 10px;
        font-size: 16px;
    }
    #pass{
        width: 250px;
        height: 46px;
        border-radius: 14px;
        padding-left: 10px;
        font-size: 16px;
    }
    #eye{
        width: 30px;
    }
    .password-btn{
        right: 15px;
        top: 60px;
    }
    .password-btn:after{
        top: 13.5px;
        right: 2px;
        width: 26px;
        height: 2px;
    }
    .submit_button{
        width: 250px;
        height: 46px;
        border-radius: 14px;
        padding: 12px 20px;
        font-size: 13px;
        letter-spacing: 3px;
        margin-top: 45px;
    }
}



/* ЧИСТО ДЛЯ ШАПКИ */
@media (min-width: 1300px) and (max-width: 1400px) {
    .brand{
        margin-left: 60px;
    }
    #hamburger-menu{
        margin-right: 40px;
    }
}

@media (min-width: 1250px) and (max-width: 1300px) {
    .brand{
        margin-left: 40px !important;
    }
    #hamburger-menu{
        margin-right: 30px !important;
    }
}

@media (min-width: 992px) and (max-width: 1020px) {
    .head-button{
        font-size: 17px;
        letter-spacing: 0;
    }
    .head-button-black{
        font-size: 17px;
        letter-spacing: 0;
    }
}

@media (min-width: 490px) and (max-width: 576px) {
    .brand{
        font-size: 36px;
        margin-left: 110px;
    }
}

@media (min-width: 400px) and (max-width: 490px) {
    .brand{
        font-size: 36px;
        margin-left: 70px;
    }
}

@media (max-width: 400px) {
    .brand{
        font-size: 30px;
        margin-left: 72px;
    }
}

@media (max-width: 376px) {
    .brand{
        font-size: 30px;
        margin-left: 58px;
    }
}

@media (max-width: 350px) {
    .brand{
        font-size: 30px;
        margin-left: 40px;
    }
}
